/*--------------------------------------------------------------
1. All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --red: #EA1826;
  --primary: #002935;
  --secondary: #747474;
  --accent: #0CB8B6;
  --accent_v2: #30B2D2;
  --accent_v3: #FF4880;
  --accent_v4: #0957DE;
  --dark_blue: #14457B;
  --gray: #f5f5f5;
  --border: #ddd;
  --primary-font: 'Barlow', sans-serif;
}