/*--------------------------------------------------------------
  9. Footer
----------------------------------------------------------------*/
.cs_footer_top {
  position: relative;
  z-index: 1;
}

.cs_footer_main {
  padding-bottom: 100px;

  @media (max-width: 991px) {
    padding-bottom: 60px;
  }

  &.cs_version_3 {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--border);
    padding-bottom: 88px;

    @media (max-width: 991px) {
      padding-bottom: 60px;
    }
  }

  &.cs_version_4 {
    border-bottom: 1px solid var(--border);
    padding-bottom: 110px;

    @media (max-width: 991px) {
      padding-bottom: 60px;
    }
  }

  .cs_social_btns.cs_style_1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

    &.cs_version_2 {
      a:hover {
        background-color: var(--accent_v2);
      }
    }

    &.cs_version_3 {
      a:hover {
        background-color: var(--accent_v3);
      }
    }

    a {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: rgba(12, 184, 182, 0.2);

      &:hover {
        background-color: var(--accent);
        color: var(--white);
      }
    }
  }

  .cs_footer_main_col {
    flex: 1;
    padding: 15px 25px;

    &:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.cs_footer_widget {
  @media (max-width: 1399px) {
    .cs_fs_18 {
      font-size: 16px;
    }
  }

  .cs_app_title {
    color: rgba(#fff, 0.7);
  }

  .cs_app_links {
    display: flex;
    align-items: center;
    gap: 6px;

    img {
      margin: 0;
    }
  }
}

.cs_footer_widget_title {
  margin-bottom: 35px;

  @media (max-width: 991px) {
    margin-bottom: 20px;
  }
}

.cs_text_widget {
  width: 100%;
  max-width: 260px;

  &.cs_version_2 {
    max-width: 280px;
  }

  img {
    margin: -10px 0 35px;
  }

  p {
    margin-bottom: 25px;
  }
}

.cs_post_widget {
  max-width: 330px;
  padding-left: 40px;

  @media (max-width: 991px) {
    max-width: 100%;
    padding-left: 0;
  }

  hr {
    margin: 25px 0;
  }
}

.cs_menu_widget {
  li:not(:last-child) {
    margin-bottom: 10px;
  }

  &.cs_version_2 {
    a:hover {
      color: var(--accent_v2);
    }
  }

  &.cs_version_3 {
    padding-left: 60px;

    @media (max-width: 1199px) {
      padding-left: 30px;
    }

    @media (max-width: 991px) {
      padding-left: 0;
    }

    a {
      color: var(--white);
      font-weight: 400;
      transition: all 0.3s ease;

      &:hover {
        color: var(--accent_v3);
      }
    }
  }

  &.cs_version_4 {
    a:hover {
      color: var(--accent_v4);
    }
  }

  .cs_img_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .cs_instagram_thumb {
      position: relative;

      &:hover {
        .cs_instagram_icon {
          transform: translate(-50%, -50%) scaleX(1);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cs_instagram_icon {
      width: 100%;
      height: 100%;
      background-color: rgba(#002935, 0.5);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scaleX(0);
      transition: all 0.3s ease;
    }
  }
}

.cs_contact_widget.cs_version_2 {
  padding-left: 45px;

  @media (max-width: 1399px) {
    padding-left: 0;

    br {
      display: none;
    }
  }

  li {
    display: flex;
    align-items: flex-start;

    p {
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 {
      margin-bottom: 0;
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  img {
    width: 25px;
    filter: brightness(0) invert(1);
    margin-top: 13px;
    margin-right: 18px;
  }
}

.cs_contact_widget.cs_version_3 {
  .cs_footer_widget_address {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      row-gap: 24px;

      br {
        display: none;
      }
    }
  }

  li {
    font-size: 20px;
    font-weight: 600;

    i {
      margin-right: 7px;
    }
  }
}

.cs_newsletter_widget {
  .cs_footer_widget_title {
    margin-bottom: 0;
  }

  .cs_newsletter_subtitle {
    margin-bottom: 41px;
  }

  .cs_newsletter_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cs_newsletter_form_field {
    width: 100%;
    height: 45px;
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 2px 0 0 2px;
  }

  .cs_btn.cs_style_1 {
    width: 48px;
    height: 45px;
    background-color: var(--accent_v3);
    color: var(--white);
    padding: 0;
    border-radius: 0 2px 2px 0;

    img {
      transition: all 0.3s ease;
    }

    &:hover {
      transform: translateY(0px);

      img {
        transform: rotate(25deg);
      }
    }
  }
}

.cs_message_widget {
  .cs_form_field {
    background-color: var(--white);
    padding: 9px 10px;
    border: none;
    outline: none;
    border-radius: 2px;
    resize: none;

    &::placeholder {
      color: var(--primary);
    }
  }

  .cs_btn.cs_style_1 {
    border-radius: 2px;
  }

  +iframe {
    width: 100%;
    height: 100%;
  }
}

.cs_footer_bottom {
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  @media (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .cs_footer_bottom_text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px 30px;

    @media (max-width: 575px) {
      justify-content: center;
      text-align: center;
    }
  }

  &.cs_version_4 {
    border: none;

    .cs_profile_link {
      color: var(--accent_v4);

      &.cs_accent_color_v3 {
        color: var(--accent_v3);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cs_footer_links {
    display: flex;
    align-items: center;
    gap: 25px;

    &.cs_version_2 {
      a:hover {
        color: var(--accent_v2);
      }
    }

    &.cs_version_4 {
      a:hover {
        color: var(--accent_v4);
      }
    }
  }

  &.cs_version_3 {
    border-top: 0;

    a {
      color: var(--accent_v3);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cs_footer_links.cs_version_4.cs_color_1 {
  a {
    &:hover {
      color: var(--accent_v3);
    }
  }
}

.cs_copyright {
  a {
    color: var(--accent);

    &:hover {
      text-decoration: underline;
    }
  }

  &.cs_version_2 {
    a {
      color: var(--accent_v2);
    }
  }
}

.cs_text_widget+.cs_contact_widget {
  margin-top: 30px;
}

.cs_newsletter_1_wrap {
  position: relative;
  background-color: #ecf9f9;

  &.cs_version_4 {
    background-color: transparent;

    &::before {
      background-color: #f2f6fd;
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: var(--white);
    top: 0;
    left: 0;
  }

  &.cs_before_none {
    &::before {
      background-color: transparent;
    }
  }

  >* {
    position: relative;
    z-index: 2;
  }
}

.cs_newsletter.cs_style_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 25px;
  border-radius: 5px;

  @media (max-width: 991px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    padding: 40px 15px;
  }

  .cs_newsletter_left {
    flex: none;

    @media (max-width: 575px) {
      align-items: center;

      br {
        display: none;
      }
    }
  }

  .cs_newsletter_icon {
    flex: none;
    width: 55px;
  }

  .cs_newsletter_form {
    display: flex;
    align-items: center;
    max-width: 610px;
    width: 100%;
    gap: 20px;

    .cs_btn.cs_style_1 {
      border-radius: 5px;

      &:hover {
        background-color: var(--primary);
        transform: translateY(0px);
      }
    }

    @media (max-width: 575px) {
      flex-direction: column;

      .cs_btn.cs_style_1 {
        width: 100%;
      }
    }
  }

  .cs_newsletter_form_field {
    border: none;
    height: 55px;
    flex: 1;
    outline: none;
    padding: 5px 20px;

    @media (max-width: 575px) {
      width: 100%;
      flex: none;
    }
  }
}

.cs_newsletter.cs_style_2 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  background-color: aquamarine;

  @media (max-width: 767px) {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .cs_newsletter_shape {
    width: 55%;
    height: 300px;
    background-color: var(--accent_v3);
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    z-index: 2;
    overflow: hidden;

    @media (max-width: 767px) {
      height: 100%;
      min-height: 300px;
    }
  }

  .cs_newsletter_thumb {
    position: absolute;
    background-color: var(--accent_v3);
    height: 300px;
    width: 55%;
    right: 0;
    top: 0;

    @media (max-width: 767px) {
      height: 100%;
      min-height: 300px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 41, 53, 0.4);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;

      @media (max-width: 991px) {
        opacity: 1;
      }
    }
  }

  .cs_newsletter_text {
    padding: 57px 0px 57px 10%;
    position: relative;
    z-index: 3;
    max-width: 780px;

    @media (max-width: 1600px) {
      padding: 57px 0px 57px 5%;
      max-width: 700px;
    }

    @media (max-width: 1399px) {
      padding: 57px 0px 57px 3%;
      max-width: 520px;
    }

    @media (max-width: 767px) {
      padding: 37px 0px 57px 3%;
      text-align: center;
    }
  }

  .cs_call_btn {
    width: 80px;
    height: 80px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    &::after {
      content: '';
      width: 95px;
      height: 95px;
      border: 1px dashed var(--white);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 1199px) {
      top: 50%;
      left: 80%;
      transform: translate(-80%, -50%);
    }

    @media (max-width: 767px) {
      position: initial;
      transform: translate(0%, -50%);
      flex: none;
    }
  }

  .cs_cta_shape {
    left: 3%;
    top: 0;
    z-index: 2;
  }

  // .cs_newsletter_title {
  //   margin-bottom: 6px;
  // }

  // .cs_newsletter_subtitle {
  //   margin-bottom: 34px;
  // }

  // .cs_newsletter_form {
  //   display: flex;
  //   gap: 10px;

  //   @media (max-width: 991px) {
  //     max-width: 450px;
  //     margin-left: auto;
  //     margin-right: auto;
  //   }

  //   @media (max-width: 450px) {
  //     flex-direction: column;

  //     .cs_btn {
  //       width: 100%;
  //     }
  //   }
  // }

  // .cs_form_field {
  //   border: none;
  //   outline: none;
  //   padding: 12px 20px;
  //   border-radius: 0;

  //   @media (max-width: 450px) {
  //     padding: 9px 20px;
  //   }
  // }
}

.cs_footer_shape2 {
  top: 0;
  right: 0;
}

.cs_footer_shape3 {
  left: 0;
  bottom: 0;
  animation: scale-shape 10s linear infinite;
}

@keyframes scale-shape {
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}