/*--------------------------------------------------------------
  14. Iconbox
----------------------------------------------------------------*/
.cs_iconbox.cs_style_1 {
  display: flex;
  align-items: center;
  gap: 20px;

  &.cs_version_4 {
    padding: 28px 35px;

    @media (max-width: 1199px) {
      padding: 28px 20px;
    }
  }

  .cs_iconbox_title {
    text-transform: uppercase;
  }
}

.cs_iconbox.cs_style_2 {
  display: flex;
  align-items: center;
  gap: 16px;

  .cs_iconbox_icon {
    width: 35px;
    height: 35px;
  }
}

.cs_iconbox.cs_style_3 {
  padding: 50px 30px 40px;
  background-color: var(--dark_blue);
  transition: all 0.4s ease;

  @media (max-width: 991px) {
    padding: 40px 30px;
  }

  &:hover {
    background-color: var(--accent_v2);

    .cs_iconbox_shape {
      filter: brightness(0) invert(1);
    }

    .cs_btn.cs_style_1 {
      background-color: var(--dark_blue);
    }
  }

  .cs_iconbox_shape {
    right: 0;
    top: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .cs_iconbox_icon {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
  }

  .cs_iconbox_title {
    margin-bottom: 18px;
  }

  .cs_iconbox_subtitle {
    margin-bottom: 25px;
  }

  .cs_call_btn {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      filter: brightness(0) invert(1);
    }
  }

  .cs_shedule_list {
    row-gap: 15px;

    li {
      border-bottom: 1px dashed var(--white);
      padding: 0 0 10px;
    }
  }
}

.cs_iconbox.cs_style_4 {
  padding: 27px 10px 57px;
  border: 1px solid var(--accent_v3);
  transition: all 0.4s ease;

  .cs_iconbox_icon {
    width: 105px;
    height: 105px;
    margin: 0 auto 20px;
  }

  .cs_iconbox_title {
    font-size: 22px;

    @media (max-width: 1399px) {
      font-size: 20px;
    }
  }

  .cs_iconbox_title,
  .cs_iconbox_subtitle,
  img {
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--accent_v3);

    > * {
      color: var(--white);

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.cs_iconbox.cs_style_5 {
  .cs_iconbox_title {
    margin-bottom: 14px;
  }
}

.cs_iconbox.cs_style_6 {
  height: 100%;
  padding: 50px 10px 52px;
  border: 1px solid var(--accent_v4);
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
  border-radius: 5px;

  .cs_iconbox_icon {
    margin-bottom: 31px;
  }

  .cs_iconbox_title {
    margin-bottom: 22px;
  }

  .cs_iconbox_title,
  .cs_iconbox_subtitle,
  img {
    transition: all 0.3s ease;
  }

  &.cs_thumb {
    padding: 0;
    border: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    background-color: var(--accent_v4);

    > * {
      color: var(--white);

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &.cs_color_1 {
    border-color: var(--accent_v3);
    &:hover {
      background-color: var(--accent_v3);
    }
  }
}

.cs_iconbox_4_wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1199px) {
    flex-direction: column;
    gap: 30px;

    > div {
      width: 100%;
    }
  }

  > * {
    width: 22%;
    flex: none;

    @media (max-width: 1199px) {
      width: 25%;
    }

    @media (max-width: 991px) {
      width: 100%;
    }

    &:nth-child(2) {
      flex: 1;
    }
  }

  .cs_iconbox_4_thumb {
    padding: 0 24px;

    @media (max-width: 1199px) {
      padding: 0;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
